@use "tailwindcss/base" as *;
@use "tailwindcss/components" as *;
@use "tailwindcss/utilities" as *;
@import "./button";
@import "./typography";
@import "./colors";

.whitebg {
  background-color: $white;
}

body {
  background-color: $white;
  color: $black;
}
