@import "../styles/_colors.scss";

.hover-info {
  @apply p-5 text-2xl rounded-lg shadow-lg shadow-black z-10 w-[400px];
  background-color: $white;
  color: $black;

  &__title {
    @apply flex items-center;
  }

  &__icon {
    @apply mr-2;
  }
}
